    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    html:focus-within {
        scroll-behavior: smooth;
    }
    
    body {
        background: #111111;
        font-family: 'Quicksand', sans-serif;
        font-size: 16px;
        color: #f1f1f1;
    }
    
    .navbar {
        background: #111111;
    }
    
    section {
        width: 100%;
        height: 100%;
    }
    
    .active {
        color: #f1f1f1 !important;
        font-weight: 700;
    }
    
    .nav-link {
        color: #fefefea6;
    }
    
    .nav-link:hover {
        color: #f1f1f1;
        font-weight: 700;
    }
    
    #home {
        width: 100%;
        height: 100vh;
        background: url("/img/landing-bg.jpg") no-repeat center;
        background-size: cover;
    }
    
    #taglines {
        width: 100%;
        height: 50vh;
    }
    
    #what-we-offer {
        background: #fefefe;
        color: #111111;
    }
    
    .title {
        font-weight: 800;
        font-size: 3rem;
    }
    
    .subtitle {
        font-weight: 600;
        font-size: 1.3rem;
    }
    
    .trustees {
        width: 100%;
        height: 100%;
        box-shadow: 0px 2px 6px #94949446;
        border-radius: 1rem;
    }
    
    .offer-cards {
        background: url("/img/software.jpg") no-repeat center;
        background-size: cover;
        height: 400px;
    }
    
    .overlay {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1;
        background: #111111cb;
    }
    
    .overlay-text {
        width: 100%;
        height: 100%;
        display: flex;
        color: #fefefe;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .overlay:hover .overlay-text {
        display: none;
    }
    
    .show-desc {
        display: flex;
    }